body, html {
  height: 100%;
  }

.background_home {
  background-image: url(https://images.pexels.com/photos/2694434/pexels-photo-2694434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_contact {
  background-image: url(https://images.pexels.com/photos/1876876/pexels-photo-1876876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_project {
  background-image: url(https://images.pexels.com/photos/1717086/pexels-photo-1717086.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_experience {
  background-image: url(https://images.pexels.com/photos/1935370/pexels-photo-1935370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}